<body>
{{> nav }}
<h1>Register New Events</h1>

<form action="/api/events" method="POST" >
  <div class="form-group">
    <label for="eventTypeName">New Event Name</label>
    <input type="text" name="eventName" class="form-control" id="eventTypeName" aria-describedby="eventName" placeholder="Enter New Event Name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{#if submitted}}
    </br>
    <div class="alert alert-success" role="alert">Event Added Successfully!</div>
    </br>
{{/if}}
{{!-- Add data validation --}}
    
</body>