<body>
{{> nav }}

<h1>Reports</h1>

<table class="table table-striped">
   <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Event Name</th>
      <th scope="col">Count</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody id="eventTable">
    {{#each events}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.eventName}}</td>
      <td><button type="button" class="btn btn-primary">Clicks <span class="badge badge-light">{{this.eventCount}}<span></button></td>
      <td><button type="button" data-id = {{this.id}} class="btn btn-danger">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</body>
<script src="/assets/js/eventsPage.js"></script>