
<div class="row mx-0">
{{#each events}}
  <div class="col-sm-2 px-0 my-1 mx-1">
      <button type="button" data-id = {{this.id}} class="btn btn-primary btn-lg btn-block">{{this.firstName}} {{this.lastName}}</button>
    </div>
  {{/each}}
  </div>
{{!-- Add Date Rangr dropdown --}}
</div>
