<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
  <a class="navbar-brand flex-fill" href="/">
    <img src="/assets/images/rollcall.png"  width="50" height="50"   class="d-inline-block align-top" alt="" loading="lazy">
    <span class="navbar-text">Roll Call</span>
  </a>
    <ul class="navbar-nav d-flex">
      <li class="nav-item flex-fill">
        <a class="nav-link" href="/report">Attendance Report</a>
      </li>
      <li class="nav-item flex-fill">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
</nav>