<body>
{{> nav }}	

<h1>Villain App</h1>

<ul class="list-group">
  <li class="list-group-item"><a href="/overview">Overview</a></li>
  <li class="list-group-item"><a href="/events">Events</a></li>
  <li class="list-group-item"><a href="/registerEvents">Register New Events</a></li>
</ul>

<p>Powered by<a href="#" class="text-dark">&nbsp;CALA Technologies</a>.&nbsp;© 2020
</div>
</body>
<!-- This is the script that serves as an event listener for my eventype -->
